.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    


}

.hero .hero_title{
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    left: 48px;
    bottom: 54px;

}
.application_deadline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 0px;
    border-bottom: 4px solid var(--primary-color);
}
.application_deadline p {
    line-height: 1.2;
}