nav {
    width: 100%;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 4px 0px;
}

nav .logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 20px;

}
nav ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;

}