.navbar {
    width: 100%;
    background: linear-gradient(-60deg, #FFBA00 78%, #fff 22%);
    position: fixed;
    z-index: 1000;
    
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar_container .logo {
    width: 250px;
}



nav ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 20px;

}
nav ul li a {
    font-size: 24px;
    font-weight: 500;
    color: #000;

}
.user_icon{
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 1940px) {
    .navbar {
        width: 100%;
        background: linear-gradient(-60deg, #FFBA00 78%, #fff 22%);
    }
}