.navbar {
    width: 100%;
    background: linear-gradient(-60deg, #FFBA00 78%, #fff 22%);
    position: fixed;
    z-index: 1000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar_container .logo {
    width: 180px;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.user_icon {
    font-size: 26px;
    cursor: pointer;
    position: relative;
    padding-right: 100px;
}

.sub_menu {
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
    background: rgba(8, 8, 8, 0.75);
    padding: 20px;
    z-index: 1;
    width: 360px;
    transition: 0.5s ease-out;
}

.sub_menu.user_sub_menu {
    right: 0; 
    left: auto; 

}

.sub_menu .sub_menu_icon_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sub_menu .sub_menu_icon_wrapper div img {
    width: 16px;
    cursor: pointer;
}

.up_arrow {
    margin-right: 68px;
    margin-left: 20px;
}

.sub_menu .sub_menu_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.sub_menu .sub_menu_wrapper ul li {
    padding: 5px 0px;
    text-align: left;
}

.sub_menu .sub_menu_wrapper ul li a {
    display: block;
    padding: 8px 10px; /* Add padding for clickable area */
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
    text-transform: uppercase;
}

.sub_menu .sub_menu_wrapper ul li a:hover {
    color: #ff8c00;
}

@media (max-width: 1940px) {
    .navbar {
        width: 100%;
        background: linear-gradient(-60deg, #FFBA00 78%, #fff 22%);
    }
}
