.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    gap: 40px;
}

.gallery-container .gallery-item a img{
    width: 100%;
    border-radius: 10px;
}
.gallery-container .gallery-item a img:hover{
    opacity: 0.9;
}