.showcase_img{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../../assets/images/ulemisty_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    


}

.showcase_title{
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    right: 48px;
    top: 70px;
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.showcase_sub_title{
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    right: 48px;
    bottom: 70px;
    text-align: right;

}

.showcase_content {
    background-color: #000000;
    padding: 80px 0px;
}
.showcase_content div{
    text-align: center;
}
.showcase_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showcase_content div h3 {
    font-size: 34px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.showcase_content div p {
    font-size: 30px;
    color: #fff;
}
.showcase_bottom_side{
    padding: 50px 0px;
    border-bottom: 4px solid var(--primary-color);
    width: 90%;
    margin: 0 auto;
}

.showcase_bottom_side div {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}