
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

:root {
  --primary-color: #FFBA00 ;
  --white-color: #fff;
  --light-color: #EFEFEF;
  --black-color: #000;
}

body {
  color: var(--black-color);
}






/* Utility Classes for Container */

.container{
  width: 100%;
  margin: 0 auto;
}

.container-2xl{
  max-width: 1536px;
  margin: 0 auto;
}

.container-xl{
  max-width: 1280px;
  margin: 0 auto;
}

.container-lg{
  max-width: 1024px;
  margin: 0 auto;
}





li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color);
  color: #000000;
  padding: 20px 50px;
  font-size: 16px;
  border-radius: 37px;
  cursor: pointer;
  outline: 0;
  font-weight: regular;
  display: inline-block;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ffc62f;
}

.btn-primary {
  background-color: #fff;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #000;
  outline: 0;
  display: block;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: rgba(73, 90, 241, 0.3);
  color: #000000;
  border: 1px solid #000000;
  transition: 0.4s;
  
}


.btn-secondary {
  background-color: #fff;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #000;
  outline: 0;
  display: block;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #000;
  border: 1px solid #000000;
  transition: 0.4s;
  
}

/* Utility Classes for fontSize */

.text-base {
font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
}

.text-lg{
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}	
.text-xl{
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}	
.text-2xl{
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}	
.text-3xl{
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}	
.text-4xl{
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}	
.text-5xl{
  font-size: 3rem; /* 48px */
  line-height: 1;
}	


.sub-title{
font-size: 30px;
margin-bottom: 10px;
}

.text-regular{
  font-size: 23px;
  color: #000000;
}

.text-bold{
  font-size: 23px;
  font-weight: bold;
}

