
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

body {
  color: #000;
}






/* Utility Classes */

.container{
  padding-left: 5%;
  padding-right: 5%;
}

.container_lg{
  padding-left: 12%;
  padding-right: 12%;

}

:root {
  --secondary-color: #fc5d66;
  --primary-color: #FFBA00 ;
  --light-color: #f9fafb;
  --black-color: #000;
}



li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn_primary {
  background-color: #fff;
  color: #000000;
  padding: 16px 25px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #000;
  outline: 0;
  display: block;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.btn_primary:hover {
  background-color: rgba(73, 90, 241, 0.3);
  color: #000000;
  border: 2px solid #000000;
  transform: scale(1);
  transition: 0.4s;
  
}


.btn_dark {
  background-color: #212121;
  color: #fff;
  padding: 14px 25px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sub_title{
font-size: 35px;
margin: 30px 0px;
}
.text_regular{
  font-size: 30px;
  color: #000000;
}
.text_bold{
  font-size: 26px;
  font-weight: bold;
}